@using core_strength_yoga_products.Models.Enums;
@using core_strength_yoga_products.Models;
@model IEnumerable<core_strength_yoga_products.Models.Product>
@{
    var productCategoryId = ViewData["productCategoryId"] ?? 1;
    var productTypeId = ViewData["productTypeId"] ?? 1;
    var genders = Enum.GetValues(typeof(Gender)).Cast<Gender>().ToList();
    var sizes = Enum.GetValues(typeof(Size)).Cast<Size>().ToList();
    var colours = Enum.GetValues(typeof(Colour)).Cast<Colour>().ToList();
}

<div class="banner-section spad">
    <form asp-controller="Shop" asp-action="FilterProductsFromPost" method="post">
        <input type="hidden" value="@productCategoryId" id="ProductCategory" name="ProductCategory" />
        <input type="hidden" value="@productTypeId" id="ProductType" name="ProductType" />
        <select id="@nameof(Gender)" name="@nameof(Gender)">
            @foreach (var value in @genders)
            {
                var @id = (int)value;
                <option value="@id">@value.ToString()</option>
            }
        </select>
        <select id="@nameof(Size)" name="@nameof(Size)">
            @foreach (var value in @sizes)
            {
                var @id = (int)value;
                <option value="@id">@value.ToString()</option>
            }
        </select>
        <select id="@nameof(Colour)" name="@nameof(Colour)">
            @foreach (var value in @colours)
            {
                var @id = (int)value;
                <option value="@id">@value.ToString()</option>
            }
        </select>
        <input type="submit"/>
    </form>

    <a href="/Shop/ProductTypes?productCategoryId=@productCategoryId"<input type="submit" class="primary-btn checkout-btn"/> <i class="fa fa-arrow-left m-2"></i> Back To Product Type</a>
    <div class="container-fluid">
        <div class="row">
            @foreach(var product in Model)
            {
                @await Html.PartialAsync("ProductPreviewPartial.cshtml", product);
            }
        </div>
    </div>
</div>

