@model core_strength_yoga_products.Models.Product;


<form asp-controller="Basket" asp-action="AddOrRemove" method="post">
    <input type="hidden" id="@nameof(BasketItem.ProductId)" name="@nameof(BasketItem.ProductId)" value="@Model.Id" />
    <label for="@nameof(BasketItem.ProductAttributeId)">Customise</label>

    <select id="@nameof(BasketItem.ProductAttributeId)" name="@nameof(BasketItem.ProductAttributeId)">
    @foreach(var attr in Model.ProductAttributes)
    {
        <option value="@attr.Id">@attr.Colour @attr.Size (@attr.PriceAdjustment)</option>
    }
    </select>
    <p>
        <label for="@nameof(BasketItem.Quantity)">Qty</label>
        <input type="number" id="@nameof(BasketItem.Quantity)" name="@nameof(BasketItem.Quantity)" min="1" max="5" value="1"/>
    </p>
    <input type="submit" value="Add To Cart" class="primary-btn checkout-btn" />
    @*    <label for="">Available Colours/Sizes/Gender</label>

        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="fiat">Fiat</option>
        <option value="audi">Audi</option>
    *@

</form>
@*<a asp-area="" asp-controller="Shop" asp-action="Product"
   asp-route-productId=@Model.Id>
    <img src=@Model.Image.Path alt=@Model.Image.Alt asp-append-version="true" />
    <div class="inner-text">
        <h4>@Model.Name <span>€@Model.FullPrice.ToString("0.00")</span></h4>

    </div>
</a>
*@

